@model DetailsViewModel
@{
    ViewData["Title"] = "جزییات محصول "+ Model.Product.Name;
}

<div class="text-center">

    <h1 class="display-4">@Model.Product.Name</h1>
    <img src="@($"/images/{Model.Product.Id}.jpg")" alt="@Model.Product.Name" class="img-thumbnail" height="320px" width="320px"/>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Item.Price</p>
    <dl>
        @foreach (var item in Model.Categories)
        {
            <dt><a>@item.Name</a></dt>
            <dd>@item.Description</dd>
        }
    </dl>
    <div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="AddToCart" asp-route-itemId="@Model.Product.ItemId">افزودن به سبد خرید</a>
    </div>
</div>

