@model CartViewModel

@{
    ViewData["Title"] = "ShowCart";
}

<table class="table table-stripped">
    <thead class="thead-dark">

        <tr>
            <th>کالا</th>
            <th>تعداد</th>
            <th>قیمت</th>
        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.getTotalPrice()</td>
                <td>
                    <a asp-controller="Home" asp-action="RemoveCart" asp-route-ItemId="@item.Item.Id">حذف</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<h5>@Model.OrderTotal جمع کل:</h5>
